.hero{
    /* background-image: url("../public/images/hero-banner.jpg"); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../public/images/hero-banner.jpg");
    background-size: cover;
    height: auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
}